@import "../../style/color";
.modal__backdrop {
  display: none;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  .close__button {
    position: absolute;
    top: 40px;
    right: 40px;
    svg {
      height: 30px;
      width: 30px;
    }
  }
  width: 50%;
  max-width: 550px;
  height: 90%;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px;
  .modal__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    img {
      width: 50%;
      border-radius: 500px;
      border: 3px solid $orange;
    }
    .modal__commands {
      width: 40%;
      display: flex;
      justify-content: center;
      gap: 10px;
      button {
        width: 90%;
        aspect-ratio: 1/1;
        border: 4px solid $blue;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-of-type svg {
          width: 40%;
          height: 40%;
        }
        svg {
          width: 50%;
          height: 50%;
          color: $blue;
          cursor: pointer;
        }
      }
    }
  }
  .modal__details {
    width: 40%;
    h2 {
      font-size: 30px;
      margin: 10px 0px;
    }
    .card__duration,
    .card__level {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      margin-bottom: 10px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  .modal__description {
    width: 70%;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {

  .modal__backdrop,
  .modal {
    display: flex !important;
  }
}
@media screen and (max-width: 1000px) {
  .modal {
    width: 400px;
    padding: 20px !important;
    .modal__header {
      img {
        width: 60%;
      }
      .modal__commands {
        width: 60%;
      }
    }
    .modal__details {
      width: 60%;
    }
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 300px;
    padding: 10px !important;
  }
}
