$bg: #fcf4eb;
$orange: #fcaf58;
$text: #ff8700;
$orange_light: #fcbc74;
$blue: #4e598c;

$colors: (
  success: hsl(139, 57%, 77%),
  danger: hsl(343, 100%, 77%),
  warning: hsl(44, 98%, 77%),
  info: hsl(207, 98%, 77%),
  dark: hsl(196, 10%, 21%),
);
