@import "../../style/color";
@import url("https://use.typekit.net/pry0bti.css");

.courses__wrap {
  background-color: $bg;
  min-height: 100vh;
  width: 100vw;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 20px 6%;
  color: $blue;
  h1 {
    font-size: 50px;
  }
  .courses__content {
    display: flex;
    justify-content: center;
    gap: 40px;
    .courses__list {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      > * {
        flex: 1 1 20%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .courses__wrap {
    padding-inline: 5%;
  }
 
}
